body { 
scrollbar-face-color: #E9EBF2; 
scrollbar-shadow-color: #405FB6; 
scrollbar-highlight-color: #FFFFFF; 
scrollbar-3dlight-color: #ABC1EE; 
scrollbar-darkshadow-color: #5D5F65; 
scrollbar-track-color: #4C76D4; 
scrollbar-arrow-color: #FFFFFF; }
.bordergris {
	background-color: #FFFFFF;
	border: 1px solid #DEE0E4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}
